<div class="container-fluid"> <br><br><br>
    <h2 class="text-center"> Work Order</h2>
    <br>
    <br>
    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-header">Add New Work Order</div>
                <div class="card-body">
                    <form [formGroup]="AddWorkorderForm" (submit)="AddWorkOrderData()">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Requirement_No">Requirement No</label>
                                    <br>
                                    <select formControlName="Requirement_No" class="Se">
                                        <option *ngFor="let mat of AllPurchaseOrderData" [value]="mat.Requirement_No">
                                            {{mat.Requirement_No}}</option>
                                    </select> <br>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Product_Quantity">Product Quantity</label>
                                    <br>
                                    <select formControlName="Product_Quantity" class="Se">
                                        <option *ngFor="let mat of AllPurchaseOrderData" [value]="mat.Product_Quantity">
                                            {{mat.Product_Quantity}}({{mat.Requirement_No}})</option>
                                    </select> <br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Product_Name">Product Name </label>
                                    <br>
                                    <select formControlName="Product_Name" class="Se">
                                        <option *ngFor="let mat of AllPurchaseOrderData" [value]="mat.Product_Name">
                                            {{mat.Product_Name}} ({{mat.Requirement_No}})</option>
                                    </select> <br>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Purchase_Number">Purchase Number </label>
                                    <br>
                                    <select formControlName="Purchase_Number" class="Se">
                                        <option *ngFor="let mat of AllPurchaseOrderData" [value]="mat.Purchase_Number">
                                            {{mat.Purchase_Number}}({{mat.Requirement_No}})</option>
                                    </select> <br>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <label for="Client_Name" class="form-label">Client Name : </label>
                            <br>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="Client_Name" placeholder="Enter Client Name">
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Material_Type">Material Type</label>
                                    <br>
                                    <select formControlName="Material_Type" class="Se">
                                        <option *ngFor="let mat of AllPurchaseOrderData" [value]="mat.Material_Type">
                                            {{mat.Material_Type}}({{mat.Requirement_No}})</option>
                                    </select> <br>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Manager Name : </label>
                                    <br>
                                    <select formControlName="Manager_Name" class="">
                                        <option *ngFor="let mat of AllManagerdata" [value]="mat.Name">{{mat.Name}}
                                        </option>
                                    </select> <br>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">QC Name : </label>
                                    <br>
                                    <select formControlName="QC_Name" class="">
                                        <option *ngFor="let mat of AllQCdata" [value]="mat.Name">{{mat.Name}}</option>
                                    </select> <br>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Engineer Name : </label>
                                    <br>
                                    <select formControlName="Engineer_Name" class="">
                                        <option *ngFor="let mat of AllEngineerdata" [value]="mat.Name">{{mat.Name}}
                                        </option>
                                    </select> <br>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="DispatchManager_Name" class="form-label">Dispatch Manager
                                        Name :
                                    </label>
                                    <br>
                                    <select formControlName="DispatchManager_Name" class="">
                                        <option *ngFor="let mat of AllDispatchManagerdata" [value]="mat.Name">
                                            {{mat.Name}}</option>
                                    </select> <br>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Payment_term">Day of Payment: </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="Payment_term"
                                        placeholder="Enter Payment term">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="WorkOrder_Status">Work Order Status : </label>
                                    <select class="form-select form-select-sm" formControlName="WorkOrder_Status"
                                        aria-label="select example">
                                        <option value="Create">Create </option>
                                        <option value="Schedule">Schedule</option>
                                        <option value="In Progress"> In Progress </option>
                                        <option value="Completed">Completed </option>
                                        <option value="Declined">Declined </option>
                                        <option value="Close">Close </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Status">Due Date : </label> <br>
                                    <input type="date" formControlName="Due_Date">
                                </div>
                            </div>
                        </div>

                        <div class="mb-3">
                            <button type="submit" class="btn btn-success">Add Work Order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- <div class="col-1"></div> -->

        <br><br>
        <div class="col-7">
            <div class="row">
                <div class="">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <label for="WorkOrder_Status">Select Work Order Status.<br>
                                    <select name="WorkOrder_Status" id="WorkOrder_Status" [(ngModel)]="WorkOrder_Status"
                                        class="form-select" placeholder="Select WorkOrder Status"
                                        aria-label="Multiple select example">
                                        <option value="Create">Create </option>
                                        <option value="Schedule">Schedule</option>
                                        <option value="In Progress"> In Progress </option>
                                        <option value="Completed">Completed </option>
                                        <option value="Declined">Declined </option>
                                        <option value="Close">Close </option>
                                        <!-- <option *ngFor="let b of AllWorkOrderData" [value]="b.WorkOrder_Status">{{b.WorkOrder_Status}}
                                </option> -->
                                    </select>
                                </label>
                                <button class="btn bttns" type="button" id="button-addon2"><i
                                        class="fa-solid fa-magnifying-glass" (click)="WorkorderByStatus()"></i></button>
                            </div>
                        </div>

                        <div class="col-6">
                            <label for="">Download A Workorders in Excelsheet </label>
                            <br> <button class="btn btn-success" (click)="exportexcel()"
                                title="Download excelfile">Download Excelsheet</button>
                        </div>
                    </div>

                    <br> <br>

                    <div class="text-center" *ngIf="AllWorkOrderData.length == 0">
                        <p>Work Order Not Available by WorkOrder Status</p>
                        <button class="btn btn-success" (click)="AllWorkOrder()">Reset</button>
                    </div> <br>

                    <div class="div" *ngIf="AllWorkOrderData.length > 0">
                        <table class="table" id="excel-table">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Work Order Number</th>
                                    <th>Client Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let a of AllWorkOrderData | paginate :{itemsPerPage :7 ,currentPage:pro},let i = index"
                                    [ngClass]="{'Display': a.WorkOrder_Status === 'Completed'} ">
                                    <td>{{a.Workorder_Id}}</td>
                                    <td>
                                        <p title="View Work Order Details"><a href=""
                                                [routerLink]="['/AdminDashboard/WorkorderDetails',a.Workorder_Id]">{{a.WO_Number}}</a>
                                        </p>
                                    </td>
                                    <td>{{a.Client_Name}}</td>
                                    <td>
                                        <a type="button" (click)="EditPurchaseOrder(a.Workorder_Id)"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal1"
                                            title="Edit a Waiting for Approval">
                                            <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                        </a>
                                        <span style="margin-left:15px;cursor: pointer;"><a
                                                (click)="DeletePurchaseOrder(a.Workorder_Id)"
                                                title="Delete a Purchase Order"> <i
                                                    class="fa-solid fa-trash-can"></i></a></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="text-center">
                        <pagination-controls (pageChange)=" pro = $event "
                            style="background-color: #252847 !important; z-index: -2 !important;"></pagination-controls>
                    </div>
                    <!-- <div class="col-md-6" *ngFor="let a of AllWorkOrderData, let i = index">
                <div class="card ">
                    <div class="card-body">
                      
                     <div class="text-end"> 
                         <a type="button" (click)="EditPurchaseOrder(a.Workorder_Id)" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1" title="Edit a Waiting for Approval">
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                        </a>
                        <span style="margin-left:15px;cursor: pointer;"><a (click)="DeletePurchaseOrder(a.Workorder_Id)" title="Delete a Purchase Order"> <i class="fa-solid fa-trash-can"></i></a></span>
                     </div>
                     <br>
                        <p>Work Order Number : <a href="" [routerLink]="['/AdminDashboard/WorkorderDetails',a.Workorder_Id]">{{a.WO_Number}}</a> </p>
                        <p>Purchase Order Number : {{a.Purchase_Number}}</p>
                        <p>Requirement Number :  {{a.Requirement_No}}</p>
                        <p>Manager Name :  {{a.Manager_Name}}</p>
                        <p>Engineer Name :  {{a.Engineer_Name}}</p>
                        <p>QC Name :  {{a.QC_Name}}</p>
                        <p>Client Name :  {{a.Client_Name}}</p>
                        <p>Product Quantity No :  {{a.Product_Quantity}}</p>
                        <p>Material Type Used	 :  {{a.Material_Type}}</p>
                        <p>Days of Payment :  {{a.Days_of_Payment}}</p>
                        <p>Work Order Status :  {{a.WorkOrder_Status}}</p>
                        <p>Added Date :  {{a.Added_Date | date}} <br>
                           <span>Added Time : {{a.Added_Date | date :'hh:mm:ss'}}</span> </p>
                        <p>Due Date :  {{a.Due_Date | date}} <br>
                           <span>Due Time : {{a.Due_Date | date :'hh:mm:ss'}}</span> </p>
                        <p>Updated Date : {{a.Updated_Date | date}} <br> 
                            <span>Updated Time : </span> {{a.Updated_Date | date :'hh:mm:ss'}}</p>
                    </div>
                </div>
            </div> -->
                </div>
            </div>


            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit WorkOrder</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="col-md-12">

                                <form [formGroup]="EditWorkorderForm">

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Requirement_No">Requirement No</label>
                                                <br>
                                                <select formControlName="Requirement_No" class="Se">
                                                    <option *ngFor="let mat of AllPurchaseOrderData"
                                                        [value]="mat.Requirement_No">{{mat.Requirement_No}}</option>
                                                </select> <br>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Product_Quantity">Product Quantity</label>
                                                <br>
                                                <select formControlName="Product_Quantity" class="Se">
                                                    <option *ngFor="let mat of AllPurchaseOrderData"
                                                        [value]="mat.Product_Quantity">
                                                        {{mat.Product_Quantity}}({{mat.Requirement_No}})</option>
                                                </select> <br>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Product_Name">Product Name </label>
                                                <br>
                                                <select formControlName="Product_Name" class="Se">
                                                    <option *ngFor="let mat of AllPurchaseOrderData"
                                                        [value]="mat.Product_Name">{{mat.Product_Name}}
                                                        ({{mat.Requirement_No}})</option>
                                                </select> <br>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Purchase_Number">Purchase Number </label>
                                                <br>
                                                <select formControlName="Purchase_Number" class="Se">
                                                    <option *ngFor="let mat of AllPurchaseOrderData"
                                                        [value]="mat.Purchase_Number">
                                                        {{mat.Purchase_Number}}({{mat.Requirement_No}})</option>
                                                </select> <br>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <label for="Client_Name" class="form-label">Client Name : </label>
                                        <br>
                                        <input type="text" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp" formControlName="Client_Name"
                                            placeholder="Enter Client Name">
                                    </div>
                                    <br>
                                    <div class="row">

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Material_Type">Material Type</label>
                                                <br>
                                                <select formControlName="Material_Type" class="Se">
                                                    <option *ngFor="let mat of AllPurchaseOrderData"
                                                        [value]="mat.Material_Type">
                                                        {{mat.Material_Type}}({{mat.Requirement_No}})</option>
                                                </select> <br>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Payment_term">Payment Term: </label>
                                                <input type="text" class="form-control" id="exampleInputEmail1"
                                                    aria-describedby="emailHelp" formControlName="Payment_term"
                                                    placeholder="Enter Payment term">
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Manager Name :
                                                </label>
                                                <br>
                                                <select formControlName="Manager_Name" class="">
                                                    <option *ngFor="let mat of AllManagerdata" [value]="mat.Name">
                                                        {{mat.Name}}</option>
                                                </select> <br>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Manager_Status" class="form-label">Manager Status : </label>
                                                <br>
                                                <select class="form-select form-select-sm"
                                                    formControlName="Manager_Status" aria-label="select example">
                                                    <option value="Assign Task">Assign Task</option>
                                                    <option value="Scheduled">Scheduled</option>
                                                    <option value="In Progress"> In Progress </option>
                                                    <option value="Completed">Completed </option>
                                                    <option value="Declined">Declined </option>
                                                    <option value="Close">Close </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">QC Name : </label>
                                                <br>
                                                <select formControlName="QC_Name" class="">
                                                    <option *ngFor="let mat of AllQCdata" [value]="mat.Name">
                                                        {{mat.Name}}</option>
                                                </select> <br>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="QC_Status" class="form-label">QC Status : </label>
                                                <br>
                                                <select class="form-select form-select-sm" formControlName="QC_Status"
                                                    aria-label="select example">
                                                    <option value="Qualified">Qualified</option>
                                                    <option value="Reject">Reject</option>
                                                    <option value="Hold">Hold</option>
                                                    <option value="Damage">Damage </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="exampleInputEmail1" class="form-label">Engineer Name :
                                                </label>
                                                <br>
                                                <select formControlName="Engineer_Name" class="">
                                                    <option *ngFor="let mat of AllEngineerdata" [value]="mat.Name">
                                                        {{mat.Name}}</option>
                                                </select> <br>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Engineer_Status">Engineer Status : </label>
                                                <select class="form-select form-select-sm"
                                                    formControlName="Engineer_Status" aria-label="select example">
                                                    <option value="Start">Start</option>
                                                    <option value="In Progress"> In Progress </option>
                                                    <option value="Completed">Completed </option>
                                                    <option value="Declined">Declined </option>
                                                    <option value="Close">Close </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="DispatchManager_Name" class="form-label">Dispatch Manager
                                                    Name :
                                                </label>
                                                <br>
                                                <select formControlName="DispatchManager_Name" class="">
                                                    <option *ngFor="let mat of AllDispatchManagerdata"
                                                        [value]="mat.Name">
                                                        {{mat.Name}}</option>
                                                </select> <br>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Dispatch_Status">Dispatch Manager Status : </label>
                                                <select class="form-select form-select-sm"
                                                    formControlName="Dispatch_Status" aria-label="select example">
                                                    <option value="Ready to Dispatch">Ready to Dispatch</option>
                                                    <option value="Complete"> Complete </option>
                                                    <option value="Reject">Reject </option>
                                                    <option value="Damage">Damage </option>
                                                    <option value="Declined">Declined </option>
                                                    <option value="Close">Close </option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="WorkOrder_Status">Work Order Status : </label>
                                                <select class="form-select form-select-sm"
                                                    formControlName="WorkOrder_Status" aria-label="select example">
                                                    <option value="Create">Create </option>
                                                    <option value="Schedule">Schedule</option>
                                                    <option value="In Progress"> In Progress </option>
                                                    <option value="Completed">Completed </option>
                                                    <option value="Declined">Declined </option>
                                                    <option value="Close">Close </option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <div class="mb-3">
                                                <label for="Status">Due Date : </label>
                                                <input type="date" formControlName="Due_Date">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <button class="btn btn-success mb-4" (click)="UpdatePurchaseOrder()">Update Work
                                        Order</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>