<div class="container"> <br><br><br> <br>
    <div class="row">

        <h2 class="text-center">Work Order Details</h2>
<br>    
        <div class="card">
                  <div class="card-body" *ngFor="let a of WorkorderData, let i = index">               
                     <br>
                     <div class="text-end">
                           <p>Added Date :  {{a.Added_Date | date}} <br>
                           <span>Added Time : {{a.Added_Date | date :'hh:mm:ss'}}</span> </p>
                     </div>
                     <div class="row">
                        <div class="col">
                        <p>Work Order Number : {{a.WO_Number}} </p>
                        <p>Purchase Order Number : {{a.Purchase_Number}}</p>
                        <p>Requirement Number :  {{a.Requirement_No}}</p>
                         <p>Product Name : {{a.Product_Name}}</p>
                        <p>Product Quantity No :  {{a.Product_Quantity}}</p>
                        <p>Material Type Used	 :  {{a.Material_Type}}</p>
                        <p>Manager Name :  {{a.Manager_Name}}</p>
                        <p>Manager Status :  {{a.Manager_Status}}</p>
                        <p>Engineer Name :  {{a.Engineer_Name}}</p>
                        <p>Engineer Status :  {{a.Engineer_Status}}</p>
                        <p>QC Name :  {{a.QC_Name}}</p>
                        <p>QC Status :  {{a.QC_Status}}</p>
                        </div>
                            <div class="col">
                        <p>Dispatch Manger Name :  {{a.DispatchManger_Name}}</p>
                        <p>Dispatch Manger Status :  {{a.Dispatch_Status}}</p>
                        <p>Client Name :  {{a.Client_Name}}</p>
                        <p>Payment  Terms :  {{a.Payment_term}}</p>
                        <p>Work Order Status :  {{a.WorkOrder_Status}}</p>
                     
                        <p>Due Date :  {{a.Due_Date | date}} <br>
                           <span>Due Time : {{a.Due_Date | date :'hh:mm:ss'}}</span> </p>
                        <p>Updated Date : {{a.Updated_Date | date}} <br> 
                            <span>Updated Time : </span> {{a.Updated_Date | date :'hh:mm:ss'}}</p>
                        </div>
                     </div>
                        
                     
            </div>
        </div>
    </div>
</div>