<div class="container"> <br><br><br> <br>
    <div class="row">

        <h2 class="text-center">Work Order Details</h2>
        <br>
        <div class="card">
            <div class="card-body" *ngFor="let a of WorkorderData, let i = index">
                <br>
                <div class="text-end">
                    <p> <b>Added Date :</b> {{a.Added_Date | date}} <br>
                        <span> <b>Added Time :</b> {{a.Added_Date | date :'hh:mm:ss:a'}}</span>
                    </p>
                </div>
                <div class="row">
                    <div class="col">
                        <p> <b>Work Order Number :</b> {{a.WO_Number}} </p>
                        <p> <b>Purchase Order Number :</b> {{a.Purchase_Number}}</p>
                        <p> <b>Requirement Number :</b> {{a.Requirement_No}}</p>
                        <p> <b>Product Name :</b> {{a.Product_Name}}</p>
                        <p> <b>Product Quantity No :</b> {{a.Product_Quantity}}</p>
                        <p> <b>Material Type Used : </b>{{a.Material_Type}}</p>
                        <p> <b>Manager Name :</b> {{a.Manager_Name}}</p>
                        <p> <b>Manager Status :</b> {{a.Manager_Status}}</p>
                        <p> <b>Manager Status Time :</b> {{a.Manager_Status_Time | date}}, {{a.Manager_Status_Time |
                            date
                            :'hh:mm:ss:a'}}</p>
                        <p> <b>Engineer Name :</b> {{a.Engineer_Name}}</p>
                        <p> <b>Engineer Status :</b> {{a.Engineer_Status}}</p>
                        <p> <b>Engineer Status Time :</b> {{a.Engineer_Status_Time | date}}, {{a.Engineer_Status_Time |
                            date
                            :'hh:mm:ss:a'}}</p>
                        <p> <b>QC Name : </b> {{a.QC_Name}}</p>
                        <p> <b>QC Status :</b> {{a.QC_Status}}</p>
                        <p> <b>QC Status Time :</b> {{a.QC_Status_Time | date}}, {{a.QC_Status_Time | date
                            :'hh:mm:ss:a'}}</p>
                    </div>
                    <div class="col">
                        <p> <b>Dispatch Manager Name :</b> {{a.DispatchManager_Name}}</p>
                        <p> <b>Dispatch Manager Status :</b> {{a.Dispatch_Status}}</p>
                        <p> <b>Dispatch Manager Status Time :</b> {{a.Dispatchmanager_Status_Time | date}}, {{
                            a.Dispatchmanager_Status_Time | date :'hh:mm:ss:a'}}</p>
                        <p> <b>Client Name :</b> {{a.Client_Name}}</p>
                        <p> <b>Payment Terms :</b> {{a.Payment_term}}</p>
                        <p> <b>Work Order Status :</b> {{a.WorkOrder_Status}}</p>

                        <p> <b>Due Date :</b> {{a.Due_Date | date}} <br>
                            <span> <b>Due Time :</b> {{a.Due_Date | date :'hh:mm:ss:a'}}</span>
                        </p>
                        <p> <b>Updated Date :</b> {{a.Updated_Date | date}} <br>
                            <span> <b>Updated Time : </b></span> {{a.Updated_Date | date :'hh:mm:ss:a'}}
                        </p>
                        <button class="btn btn-secondary" title="Download a PDFDesignfile">
                            <a (click)="downloadFromUrl(a.PDFDesignfile)">Download PDFDesignfile</a>
                        </button>
                        <br> <br>
                        <button class="btn btn-secondary" title="Download a DWG File"> <a
                                (click)="downloadFromUrl(a.Design_File)">Download DWG File</a>
                        </button>

                        <!-- <button class="btn btn-secondary"> <a (click)="downloadFromUrl(a.Design_File)">Download DWG
                                File</a>
                        </button> -->

                        <!-- <iframe *ngIf="a.PDFDesignfile" [src]="getsafeurl(a.PDFDesignfile)" width="100%" height="600">
                        </iframe> -->

                        <!-- DWG -->


                        <!--   <iframe [src]="getsafeurl(a.PDFDesignfile)" width="100%" height="600">
                        </iframe> -->
                        <!-- <embed [src]="getsafeurl(a.PDFDesignfile)" type="application/pdf" width="100%" height="600"> -->

                        <!-- <a (click)="downloadFromUrl(a.Design_File)">Download DWG File</a>
                        <a (click)="downloadFromUrl(a.PDFDesignfile)" target="_blank">Download PDF</a> -->

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>