<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p> Employee Name : {{employeedata?.Name}}</p>
                    <p> Employee Phone No :  {{employeedata?.PhoneNo}}</p>
                    <p> Employee Email : {{employeedata?.Email}}</p>
                    <p> Employee Username : {{employeedata?.Username}}</p>
                    <p> Employee Password : {{employeedata?.Password}}</p>
                    <p> Employee Role : {{employeedata?.Role}}</p>
                    <p> Employee Address : {{employeedata?.Address}}</p>
                    <p> Employee Added Date : {{employeedata?.Added_Date | date}} </p>
                    <p> Employee Status : {{employeedata?.Status}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
