<br><br>
<div class="container-fluid"><br>
    <div class="text-center">
        <h2>All Requirement</h2>
    </div>
    <br>
    <div class="row" *ngIf="isAdmin">
        <div class="col-6">
            <div class="card">
                <div class="card-header">Add New Requirement</div>
                <div class="card-body">
                    <form [formGroup]="Requirementform" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

                        <div class="">
                            <label>Client Name</label>
                            <input formControlName="Client_Name" class="form-control" placeholder="Enter Client Name" />
                            <br>
                        </div>

                        <div class="">
                            <label>Material Type</label>
                            <select formControlName="Material_Type" class="Se">
                                <option *ngFor="let mat of AllMaterials" [value]="mat.Material_Name">
                                    {{mat.Material_Name}} ({{mat.Material_Type}})</option>
                            </select> <br>
                        </div>
                        <br>

                        <div class="">
                            <label>Product Name</label>
                            <textarea formControlName="Product_Name" class="form-control"
                                placeholder="Enter Product Name"></textarea> <br>
                        </div>

                        <div class="">
                            <label>Client Address</label>
                            <textarea name="Client_Address" id="" formControlName="Client_Address" class="form-control"
                                placeholder="Enter Client Address"></textarea>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Client Email</label>
                                <input formControlName="Client_Email" class="form-control"
                                    placeholder="Enter Client Email Address" /> <br>
                            </div>

                            <div class="col-md-6">
                                <label>Client Phone Number </label>
                                <input formControlName="Client_PhoneNo" class="form-control"
                                    placeholder="Enter Client Phone Number" /> <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label>Product Quantity</label>
                                <input formControlName="Product_Quantity" class="form-control"
                                    placeholder="Enter Product Quantity" /> <br>
                            </div>
                            <div class="col-6">
                                <label>Status</label>
                                <select class="form-select form-select-sm" formControlName="Status"
                                    aria-label="select example">
                                    <option value="Create">Create</option>
                                    <option value="In Progress">In Progress</option>
                                    <option value="Complete">Complete</option>
                                    <option value="Cancel">Cancel</option>
                                </select>
                                <br>
                            </div>

                        </div>

                        <div class=" ">
                            <label>Design File (DWG File)</label>
                            <input type="file" (change)="onFileselectDesignfile($event)" class="form-control" />
                        </div>
                        <br>
                        <div class=" ">
                            <label>PDF Design File (PDF File)</label>
                            <input type="file" (change)="onFileselectPDFfile($event)" class="form-control" />
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn text-light btt">Add Requirement</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <br>

        <div class="col-6">
            <div class="row">
                <div class="col-md-12">
                    <label for="">Download a Requirement Excelsheet</label>
                    <br>
                    <button class="btn btn-success" (click)="exportexcel()" title="Download excelfile">Download
                        Excelsheet</button>
                    <br><br>
                    <div class="table-responsive">

                        <table class="table" id="excel-table">
                            <thead>
                                <tr>
                                    <th>Sr No.</th>
                                    <th>Requirement No</th>
                                    <th>Client Name</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let a of AllRequirementData | paginate :{itemsPerPage :10 ,currentPage:pro}, let i = index">
                                    <td>{{a.Req_id}}</td>
                                    <td>
                                        <p title="View Requirement Details"><a href=""
                                                [routerLink]="['/AdminDashboard/RequirementDetails', a.Req_id]">{{a.Requirement_No}}</a>
                                        </p>
                                    </td>

                                    <td>{{a.Client_Name}}</td>
                                    <td>
                                        <p class="">
                                            <a type="button" (click)="editRequirement(a.Req_id)" data-bs-toggle="modal"
                                                data-bs-target="#exampleModal1" title="Edit a Requirement">
                                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                            </a>
                                            <span style="margin-left: 5%;">
                                                <a type="button" (click)="DeleteRequirement(a.Req_id)"
                                                    title="Delete a Requirement">
                                                    <i class="fa-solid fa-trash-can"></i>
                                                </a>
                                            </span>
                                        </p>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <pagination-controls (pageChange)=" pro = $event "
                                style="background-color: #252847 !important; z-index: -2 !important;"></pagination-controls>
                        </div>

                        <!-- <div class="card">
                    <div class="card-body">
                    <p class="text-end">
                         <a type="button" (click)="editRequirement(a.Req_id)" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1" title="Edit a Requirement">
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                        </a>
                        <span style="margin-left: 5%;"><a (click)="DeleteRequirement(a.Req_id)" title="Delete a Requirement"> <i class="fa-solid fa-trash-can"></i></a></span>
                    </p>

                        <p title="View Requirement Details" >Requirement Id : <a href="" [routerLink]="['/AdminDashboard/RequirementDetails', a.Req_id]">{{a.Req_id}}</a></p>
                        <p>Requirement Number : {{a.Requirement_No}}</p>
                        <p>Client Name :  {{a.Client_Name}}</p>
                        <p>Product Name :  {{a.Product_Name}}</p>
                        <p>Material Type:  {{a.Material_Type}}</p>
                        <p>Phone No :  {{a.Client_PhoneNo}}</p>
                        <p>Email :  {{a.Client_Email}}</p>
                        <p>Product Quantity :  {{a.Product_Quantity}}</p>
                        <p>Client Address :  {{a.Client_Address}}</p>
                        <p>Status :  {{a.Status}}</p>
                        <p>Added Date :  {{a.Added_Date | date}} <br>
                           <span>Added Time : {{a.Added_Date | date :'hh:mm:ss'}}</span> </p>
                        <p>Updated Date : {{a.Updated_Date | date}} <br> 
                            <span>Updated Time : </span> {{a.Updated_Date | date :'hh:mm:ss'}}</p>
                    </div>
                </div> -->
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update Requirement</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">

                            <form [formGroup]="EditRequirementform" (ngSubmit)="UpdateRequirements()">

                                <div class="">
                                    <label>Client Name</label>
                                    <input formControlName="Client_Name" class="form-control" /> <br>
                                </div>

                                <div class="">
                                    <label>Product Name</label>
                                    <textarea formControlName="Product_Name" class="form-control"></textarea> <br>
                                </div>

                                <div class="">
                                    <label>Client Address</label>
                                    <textarea name="Client_Address" id="" formControlName="Client_Address"
                                        class="form-control"></textarea>
                                    <br>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Client Email</label>
                                        <input formControlName="Client_Email" class="form-control" /> <br>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Client PhoneNo </label>
                                        <input formControlName="Client_PhoneNo" class="form-control" /> <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label>Product Quantity</label>
                                        <input formControlName="Product_Quantity" class="form-control" /> <br>
                                    </div>
                                    <div class="col-6">
                                        <label>Status</label>
                                        <select class="form-select form-select-sm" formControlName="Status"
                                            aria-label="select example">
                                            <option value="Create">Create</option>
                                            <option value="In Progress">In Progress</option>
                                            <option value="Complete">Complete</option>
                                            <option value="Cancel">Cancel</option>
                                        </select>
                                        <br>
                                    </div>

                                </div>

                                <div class=" ">
                                    <label>Design File</label>
                                    <input type="file" (change)="onFileChange($event,'Design_File')"
                                        class="form-control" />
                                </div>
                                <div class=" ">
                                    <label> PDF Design File</label>
                                    <input type="file" (change)="onFileChange($event,'PDFDesignfile')"
                                        class="form-control" />
                                </div>
                                <br>
                                <div class="text-center">
                                    <button type="submit" class="btn text-light btt">Update Requirement</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
    </div>

    <div class="row">
        <div class="col-md-12 " *ngIf="isaccountant">
            <br>
            <label for="">Download a Requirement Excelsheet</label>
            <br>
            <button class="btn btn-success" (click)="exportexcel()" title="Download excelfile">Download
                Excelsheet</button>
            <br><br>
            <div>

                <table class="table table-bordered" id="excel-table">
                    <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Requirement No</th>
                            <th>Client Name</th>
                            <th>Product Name</th>
                            <th>Product Quantity</th>
                            <th>Material Type</th>
                            <th>Phone Number </th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Added Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let a of AllRequirementData | paginate :{itemsPerPage :10 ,currentPage:pro}, let i = index">
                            <td [ngClass]="{Display: a.Status === 'Create'}">{{a.Req_id}}</td>
                            <td>
                                <p title="View Requirement Details"><a href=""
                                        [routerLink]="['/AdminDashboard/RequirementDetails', a.Req_id]">{{a.Requirement_No}}</a>
                                </p>
                            </td>
                            <td>{{a.Client_Name}}</td>
                            <td>{{a.Product_Name}}</td>
                            <td>{{a.Product_Quantity}}</td>
                            <td>{{a.Material_Type}}</td>
                            <td>{{a.Client_PhoneNo}}</td>
                            <td>{{a.Client_Email}}</td>
                            <td>{{a.Client_Address}}</td>
                            <td>{{a.Status}}</td>
                            <td>{{a.Added_Date | date:'dd-MM-yyyy, hh:mm:ss:a'}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="text-center">
                    <pagination-controls (pageChange)=" pro = $event "
                        style="background-color: #252847 !important; z-index: -2 !important;"></pagination-controls>
                </div>

                <!-- <div class="card">
                    <div class="card-body">
                    <p class="text-end">
                         <a type="button" (click)="editRequirement(a.Req_id)" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1" title="Edit a Requirement">
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                        </a>
                        <span style="margin-left: 5%;"><a (click)="DeleteRequirement(a.Req_id)" title="Delete a Requirement"> <i class="fa-solid fa-trash-can"></i></a></span>
                    </p>

                        <p title="View Requirement Details" >Requirement Id : <a href="" [routerLink]="['/AdminDashboard/RequirementDetails', a.Req_id]">{{a.Req_id}}</a></p>
                        <p>Requirement Number : {{a.Requirement_No}}</p>
                        <p>Client Name :  {{a.Client_Name}}</p>
                        <p>Product Name :  {{a.Product_Name}}</p>
                        <p>Material Type:  {{a.Material_Type}}</p>
                        <p>Phone No :  {{a.Client_PhoneNo}}</p>
                        <p>Email :  {{a.Client_Email}}</p>
                        <p>Product Quantity :  {{a.Product_Quantity}}</p>
                        <p>Client Address :  {{a.Client_Address}}</p>
                        <p>Status :  {{a.Status}}</p>
                        <p>Added Date :  {{a.Added_Date | date}} <br>
                           <span>Added Time : {{a.Added_Date | date :'hh:mm:ss'}}</span> </p>
                        <p>Updated Date : {{a.Updated_Date | date}} <br> 
                            <span>Updated Time : </span> {{a.Updated_Date | date :'hh:mm:ss'}}</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>