<div class="container"> <br><br><br>
    <div class="row">

        <div class="text-center">
            <h2>Purchase Order Details</h2>
            <br>

        </div>
        <div class="card" *ngFor="let a of PurchaseOrders, let i= index">
            <div class="text-end">
                <p> <b>Added Date : </b> {{ a.Added_Date | date }} <br> {{a.Added_Date | date:'h:mm a' }}</p>
            </div>
            <div class="row">
                <div class="col-5"> 
                        <p>Client Name :  {{a.Client_Name}}</p>
                        <p>Product Name :  {{a.Product_Name}}</p>
                        <p>Phone No :  {{a.Client_PhoneNo}}</p>
                        <p>Email :  {{a.Client_Email}}</p>
                        <p>Product Quantity :  {{a.Product_Quantity}}</p>
                        <p>Client Address :  {{a.Client_Address}}</p>
                        <p>Status :  {{a.Status}}</p>
                        <p>Status :  {{a.Design_File}}</p>
                        <p>Status :  {{a.PDFDesignfile}}</p>
                        <p>Added Date :  {{a.Added_Date | date}} <br>
                           <span>Added Time : {{a.Added_Date | date :'hh:mm:ss'}}</span> </p>
                        <p>Updated Date : {{a.Updated_Date | date}} <br> 
                            <span>Updated Time : </span> {{a.Updated_Date | date :'hh:mm:ss'}}</p>
                </div><br>

            </div>

        </div>
    </div>
</div>