.card {
    background-color: #c4c1cfab;
    color: black;
}

a {
    color: black;
}

.modal-content {
    background-color: #c4c1cfab;
    color: #000;
}

option {
    background-color: #c4c1cfab;
}