.main-sidebar {
    background-color: #2E3257;
    color: white;
}

.active-link {
    background-color: #5B4c75 !important;
    /* Active clicked color */
    color: white !important;
    border-left: 2px solid white;
}

.img{
    width: 100px;
    background-color: white;
}