<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <!-- <a href="index3.html" class="brand-link">
        <img src="assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">Admin Panel</span>
    </a> -->
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 text-center ">
            <div class="image">
                <img src="assets/logo.png" class="img elevation-2" alt="User Image">
            </div>
            <br>
            <br>
            <div class="info">
                <a href="#" class="d-block">
                    <i class="bi bi-columns-gap"></i> Dashboard
                </a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column " data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item menu-open">
                    <a
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/Employee']" >
                        <i class="fa-solid fa-user-shield fa-xl"></i>
                        <p>
                            Admin's
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/Requirement']"
                    >
                    <i class="fa-solid fa-file-invoice"></i>
                        <p>
                            Requirement
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/PurchaseOrder']">
                        <i class="fa-solid fa-hand-holding-hand fa-xl"></i>
                        <p>
                            Purchase Order
                        </p>
                    </a>
                </li>
                   <li class="nav-item menu-open">
                    <a
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/Machine']">
                    
                        <i class="fa-solid fa-tachograph-digital fa-xl"></i>
                        <p>
                            Machine's
                        </p>
                    </a>
                </li>
                
                <li class="nav-item menu-open">
                    <a
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/Material']">
                        <i class="fa-solid fa-bowling-ball fa-xl"></i>
                        <p>
                            Material's
                        </p>
                    </a>
                </li>      
                <li class="nav-item menu-open">
                    <a
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/WorkOrder']"
                    >
                        <i class="fa-solid fa-industry fa-xl"></i>
                        <p>
                            Work Order
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/DeliveryChallan']"
                    >
                        <i class="fa-solid fa-file-signature fa-xl"></i>
                        <p>
                            Delivery Challan
                        </p>
                    </a>
                </li>

                <li class="nav-item menu-open">
                    <a
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/WorkOrderClose']" >
                        <i class="fa-solid fa-house-signal fa-xl"></i>
                        <p>
                            Work Order Close
                        </p>
                    </a>
                </li>
        
                                             
                                                                                            
                <li class="nav-item menu-open">
                    <a
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/Quatation']"
                    >
                        <i class="fa-solid fa-bowling-ball fa-xl"></i>
                        <p>
                            Quatation
                        </p>
                    </a>
                    <a *ngIf="isAdmin"
                        href="#"
                        class="nav-link"
                        routerLinkActive="active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        [routerLink]="['/AdminDashboard/Quatation']"
                    >
                        <i class="fa-solid fa-bowling-ball fa-xl"></i>
                        <p>
                            Quatation
                        </p>
                    </a>
                </li>
                                        
                <li class="nav-item menu-open fixed-bottom">
                    <a href="#" class="nav-link" (click)="Logout()">
                        <i class="fa-solid fa-power-off fa-xl"></i>
                        <p>
                            Logout
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</aside>
