.container-fluid{
    padding: 0% 5% 0% 5%;
}

th,
td {
    background-color: #c4c1cfab;
    color: black;
}

th {
    font-weight: bold;
}

a {
    color: black;
}

.modal-content {
    background-color: #c4c1cfab;
    color: #000;

    label {
        color: #000;
    }
}

option{
    background-color: #c4c1cfab;
}

select{
    width: 100%;
}

input{
    width: 100%;
}