<div class="container-fluid"> <br><br><br>
    <h3 class="text-center" > Purchase Order</h3>
<br>
<br>

<div class="row">
    <div class="col-5">
     <div class="card" >
         <div class="card-header">Add New Purchase Order</div>
        <div class="card-body">
            <form [formGroup]="AddpurchaseorderForm" (submit)="AddPurchaseOrder()" >
                 <div class="row">
                    <div class="col-6">
                            <div class="mb-3">
               <label for="Requirement_No">Requirement No</label>
               <br>
                <select formControlName="Requirement_No" class="Se">
                    <option *ngFor="let mat of Quotations" [value]="mat.Requirement_No">{{mat.Requirement_No}}</option>
                </select>  <br>
            </div>
                    </div>
                   
                    <div class="col-6">
                            <div class="mb-3">
                             <label for="Product_Name">Product Name </label>
                                <br>
                            <select formControlName="Product_Name" class="Se">
                                <option *ngFor="let mat of AllRequirementData" [value]="mat.Product_Name">{{mat.Product_Name}} ({{mat.Requirement_No}})</option>
                            </select>  <br>
                            </div>
                    </div>

                    <div class="col-6">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label"> Material Type : </label>
                                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                      formControlName="Material_Type" placeholder="Enter Material Type ">
                            </div>
                    </div>
                   
                    <div class="col-6">
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Client Name : </label>
                                        <br>
                                               <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                formControlName="Client_Name" placeholder="Enter ClientName">
                                    <!-- <select formControlName="Client_Name" class="">
                                        <option *ngFor="let mat of AllRequirementData" [value]="mat.Client_Name">{{mat.Client_Name}}({{mat.Requirement_No}})</option>
                                    </select>  <br> -->
                         </div>
                    </div>  

                    <div class="col-6">
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Product Quantity : </label>
                                        <br>
                                               <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                formControlName="Product_Quantity" placeholder="Enter Quantity">
                              
                         </div>
                    </div>   

                    <div class="col-6">
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Rate : </label>
                                        <br>
                                               <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                formControlName="Rate" placeholder="Enter Rate">
                         </div>
                    </div>     
                    
                    <div class="col-6">
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Sub Total : </label>
                                        <br>
                                               <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                formControlName="Subtotal" placeholder="Enter Rate">
                         </div>
                    </div>     

                    <div class="col-6">
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">CGST Amount : </label>
                                        <br>
                                               <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                                formControlName="CGST_amount" placeholder="Enter CGST Amount">
                         </div>
                    </div>     

                    <div class="col-6">
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">SGST Amount : </label>
                                        <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        formControlName="SGST_amount" placeholder="Enter SGST Amount">
                         </div>
                    </div>     

                    <div class="col-6">
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Total Amount : </label>
                                        <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        formControlName="Total_Amount" placeholder="Enter total Amount">
                         </div>
                    </div>     
                    <div class="col-6">
                          <div class="mb-3">
                              <label for="exampleInputEmail1" class="form-label">Discount Amount : </label>
                                        <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        formControlName="Discount_Amount" placeholder="Enter discount Amount">
                         </div>
                    </div>     
                    <div class="col-6">
                          <div class="mb-3">
                             
                                  <label for="Payment_term">Payment Term  : </label>
                                     <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                        formControlName="Payment_term" placeholder="Enter Payment term">

                         </div>
                    </div>     

                </div>      

          
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Clent  Address : </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="Client_Address" placeholder="Enter Purchase Address ">
            </div>

         <div class="row">
            <div class="col-12"> 
            <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Purchase Address : </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="Purchase_Address" placeholder="Enter Purchase Address ">
            </div>
            </div>
        
            <div class="col-6">
            <div class="mb-3">
                <label for="Status">Status  : </label>
                <select class="form-select form-select-sm" formControlName="Status" aria-label="select example">
                                <option value="Created">Created </option>
                                <option value="Waiting for Approval">Waiting for Approval </option>
                                <option value="Approved">Approved </option>
                                <option value="Sent to Vendor">Sent to Vendor </option>
                                <option value="Partially Received">Partially Received </option>
                                <option value="Received">Received </option>
                                <option value="Invoiced">Invoiced </option>
                                <option value="Completed">Completed </option>
                                <option value="Close">Close </option>
                </select>
            </div>
            </div>
            <div class="col-6">
            <div class="mb-3">
                <label for="Status">Delivery Date : </label>
                 <input type="date" formControlName="Delivery_Date">
            </div>
            </div>
         </div>
            <div class="mb-3">
            <button type="submit" class="btn btn-success">Add Purchase Order</button>
            </div>
        </form>
        </div>
     </div>
    </div>

    <!-- <div class="col-1"></div> -->
    <br><br>    
    <div class="col-7">
        <div class="row">
            <div class="" >

                      <table class="table" >
                    <thead>
                        <tr>
                            <td>Sr No.</td>
                            <th>Purchase Order Number</th>
                            <th>Client Name</th>
                            <th>Action</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr   *ngFor="let a of AllPurchaseOrderData | paginate :{itemsPerPage :10 ,currentPage:pro},let i = index">
                           <td >{{a.Id}}</td>
                          <td><p title="View Purchase Orrder Details" ><a href="" [routerLink]="['/AdminDashboard/PurchaseOrderDetails', a.Id]">{{a.Purchase_Number}}</a></p></td>
                            
                            <td>{{a.Client_Name}}</td>
                            <td>
                            <p class="">
                                      <a type="button" (click)="EditPurchaseOrder(a.Id)" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1" title="Edit a Waiting for Approval">
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                 </a>
                            <span style="margin-left:15px;cursor: pointer;"><a (click)="DeletePurchaseOrder(a.Id)" title="Delete a Purchase Order"> 
                                <i class="fa-solid fa-trash-can"></i></a></span>
                         <a (click)="printPdf(a.Id)" title="Print a Receipt"> <span  style="margin-left:15px;cursor: pointer;"><i class="fa-solid fa-print"></i></span></a>
                            </p>
                            </td>

                        </tr>
                    </tbody>
                </table>

                  <div class="text-center">
                <pagination-controls (pageChange)=" pro = $event "
                    style="background-color: #252847 !important; z-index: -2 !important;"></pagination-controls>
                </div>
<!--    <div class="card">
                    <div class="card-body">
                      
                     <div class="text-end"> 
                         <a type="button" (click)="EditPurchaseOrder(a.Id)" data-bs-toggle="modal"
                                data-bs-target="#exampleModal1" title="Edit a Waiting for Approval">
                                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                        </a>
                        <span style="margin-left:15px;cursor: pointer;"><a (click)="DeletePurchaseOrder(a.Id)" title="Delete a Purchase Order"> <i class="fa-solid fa-trash-can"></i></a></span>
                    <a (click)="printPdf(a.Id)" title="Print a Receipt"> <span  style="margin-left:15px;cursor: pointer;"><i class="fa-solid fa-print"></i></span></a>
                  
                    </div>
                     <br>
                       <p title="View Purchase Order Details" >Purchase Order Id : <a href="" [routerLink]="['/AdminDashboard/PurchaseOrderDetails', a.Id]">{{a.Id}}</a></p>
                        <p>Purchase Order Number : {{a.Purchase_Number}}</p>
                        <p>Requirement Number :  {{a.Requirement_No}}</p>
                        <p>Client Name :  {{a.Client_Name}}</p>
                        <p>Product_Quantity No :  {{a.Product_Quantity}}</p>
                        <p>Material Type :  {{a.Material_Type}}</p>
                        <p>Address :  {{a.Purchase_Address}}</p>
                        <p>Payment Term :  {{a.Payment_term}}</p>
                        <p>Status :  {{a.Status}}</p>
                        <p>Order Delivery Date :  {{a.Delivery_Date | date}} <br>
                           <span>Delivery Time : {{a.Delivery_Date | date :'hh:mm:ss'}}</span> </p>
                        <p>Added Date :  {{a.Added_Date | date}} <br>
                           <span>Added Time : {{a.Added_Date | date :'hh:mm:ss'}}</span> </p>
                        <p>Updated Date : {{a.Updated_Date | date}} <br> 
                            <span>Updated Time : </span> {{a.Updated_Date | date :'hh:mm:ss'}}</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>


 <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Waiting for Approval</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <div class="col-md-12">
                   
        <form [formGroup]="EditpurchaseorderForm">
                      
            <div class="mb-3">
               <label for="Requirement_No">Requirement No</label>
               <br>
                <select formControlName="Requirement_No" style="height: 35%;" class="">
                    <option *ngFor="let mat of Quotations" [value]="mat.Requirement_No">{{mat.Requirement_No}}</option>
                </select>  <br>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Client Name : </label>
              <br>
                <select formControlName="Client_Name" style="height: 35%;" class="">
                    <option *ngFor="let mat of Quotations" [value]="mat.Client_Name">{{mat.Client_Name}}</option>
                </select>  <br>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Purchase Address : </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="Purchase_Address" placeholder="Enter Purchase Address ">
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"> Material Type Used : </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="Material_Type" placeholder="Enter  Material_Type">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"> Product_Quantity : </label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="Product_Quantity" placeholder="Enter Product_Quantity in number">
            </div>

         <div class="row">
             
        <div class="col-6"> 
                   <div class="mb-3">
                <label for="Payment_term">Payment Method  : </label>
                <select class="form-select form-select-sm" formControlName="Payment_term" aria-label="select example">
                                <option value="Cash Payment">Cash Payment </option>
                                <option value="UPI Payment">UPI Payment </option>
                                <option value="Credit Card">Credit Card </option>
                                <option value="Debit Card">Debit Card </option>
                                <option value="Bank Transfer">Bank Transfer </option>
                </select>
            </div>
        </div>
        
<div class="col-6">
            <div class="mb-3">
                <label for="Status">Status  : </label>
                <select class="form-select form-select-sm" formControlName="Status" aria-label="select example">
                                <option value="Created">Created </option>
                                <option value="Waiting for Approval">Waiting for Approval </option>
                                <option value="Approved">Approved </option>
                                <option value="Sent to Vendor">Sent to Vendor </option>
                                <option value="Partially Received">Partially Received </option>
                                <option value="Received">Received </option>
                                <option value="Invoiced">Invoiced </option>
                                <option value="Completed">Completed </option>
                                <option value="Close">Close </option>
                </select>
            </div>
        </div>

         </div>
         <br>
             <button class="btn btn-success mb-4" (click)="UpdatePurchaseOrder()">Update Purchase Order</button>
        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</div>