.container-fluid {
    padding-left: 2%;
}

select {
    height: 35px;
    width: 100%;
}

.btt {
    background-color: #219655;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.card {
    background-color: #c4c1cfab;
    color: black;
}

a,
label {
    color: black;
}

.modal-content {
    background-color: #c4c1cfab;
    color: #000;
}

td,
th {
    background-color: #c4c1cfab;
    color: black;
}

th {
    font-weight: bold;
}

input {
    width: 100%;
}

.card-header {
    color: black;
    font-size: larger;
}