<div class="container-fluid"> <br><br><br>
    <h2 class="text-center">All Bill's Data</h2>
    <br>
    <br>

    <div class="row">
        <div class="col-5">
            <div class="card">
                <div class="card-header">Add New Bill</div>
                <div class="card-body">
                    <form [formGroup]="Addbillform" (submit)="Createbill()">
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Purchase_Number">Purchase Order Number</label>
                                    <br>
                                    <select formControlName="Purchase_Number" class="Se">
                                        <option *ngFor="let mat of AllPurchaseOrderData" [value]="mat.Purchase_Number">
                                            {{mat.Purchase_Number}}</option>
                                    </select> <br>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Product_Name">Product Name </label>
                                    <br>
                                    <select formControlName="Product_Name" class="Se">
                                        <option *ngFor="let mat of AllPurchaseOrderData" [value]="mat.Product_Name">
                                            {{mat.Product_Name}} ({{mat.Requirement_No}})</option>
                                    </select> <br>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Client Name : </label>
                                    <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="Client_Name"
                                        placeholder="Enter ClientName">
                                    <!-- <select formControlName="Client_Name" class="">
                                        <option *ngFor="let mat of AllRequirementData" [value]="mat.Client_Name">{{mat.Client_Name}}({{mat.Requirement_No}})</option>
                                    </select>  <br> -->
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Product Quantity : </label>
                                    <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="Product_Quantity"
                                        placeholder="Enter Quantity">

                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Rate : </label>
                                    <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="Rate" placeholder="Enter Rate">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Sub Total : </label>
                                    <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="Subtotal"
                                        placeholder="Enter Rate">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">CGST Amount : </label>
                                    <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="CGST_amount"
                                        placeholder="Enter CGST Amount">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">SGST Amount : </label>
                                    <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="SGST_amount"
                                        placeholder="Enter SGST Amount">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Total Amount : </label>
                                    <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="Total_Amount"
                                        placeholder="Enter total Amount">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Discount Amount : </label>
                                    <br>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="Discount_Amount"
                                        placeholder="Enter discount Amount">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">

                                    <label for="Payment_term">Payment Term : </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="Payment_term"
                                        placeholder="Enter Payment term">

                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="HSN_Code">HSN Code : </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="HSN_Code"
                                        placeholder="Enter HSN Code">

                                </div>
                            </div>

                        </div>

                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Client Address : </label>
                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                                formControlName="Client_Address" placeholder="Enter Purchase Address ">
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Payment_Method">Payment Method : </label>
                                    <select class="form-select form-select-sm" formControlName="Payment_Method"
                                        aria-label="select example">
                                        <option value="Cash Payment">Cash Payment </option>
                                        <option value="Credit Card Payment">Credit Card Payment</option>
                                        <option value="Partially Received">Partially Received </option>
                                        <option value="Received">Received </option>
                                        <option value="Invoiced">Invoiced </option>
                                        <option value="Completed">Completed </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Bill_Status">Bill Status : </label>
                                    <select class="form-select form-select-sm" formControlName="Bill_Status"
                                        aria-label="select example">
                                        <option value="Generate">Generate</option>
                                        <option value="Received">Received </option>
                                        <option value="Invoiced">Invoiced </option>
                                        <option value="Completed">Completed </option>
                                        <option value="Close">Close </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="Delivery_Date">Delivery Date : </label><br>
                                    <input type="date" formControlName="Delivery_Date">
                                </div>
                            </div>

                            <!-- <div class="col-6">
  <div class="mb-3">
    <label>Received Amount</label>
    <input
      type="number"
      class="form-control"
      formControlName="Received_Amount"
      placeholder="Enter received amount"
    />
  </div>
</div> -->


                        </div>

                        <div *ngIf="manualClose" class="border p-3 mt-3 rounded">

                            <h6 class="text-primary">Work Order Close Details</h6>

                            <div class="row">

                                <div class="col-6">
                                    <label>Payment Status</label>
                                    <select class="form-select form-select-sm" formControlName="Payment_Status">
                                        <option value="Partial">Partial</option>
                                        <option value="Completed">Completed</option>
                                        <option value="Pending">Pending</option>
                                    </select>
                                </div>

                                <div class="col-6">
                                    <label>Delivery Status</label>
                                    <select class="form-select form-select-sm" formControlName="Delivery_Status">
                                        <option value="Dispatch">Dispatch</option>
                                        <option value="Delivered">Delivered</option>
                                        <option value="Return">Return</option>
                                        <option value="Close">Close</option>
                                    </select>
                                </div>

                                <div class="col-6 mt-2">
                                    <label>Work Close Status</label>
                                    <select class="form-select form-select-sm" formControlName="Work_Close_Status">
                                        <option value="Open">Open</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Rejected">Rejected</option>
                                        <option value="Close">Close</option>
                                    </select>
                                </div>

                                <div class="col-6 mt-2">
                                    <label>Custom Remark</label>
                                    <input type="text" class="form-control" formControlName="Custom_Remark"
                                        placeholder="e.g. Partially received 10000 against Bill_04">
                                </div>

                            </div>
                        </div>



                        <div *ngIf="!billAllowed" class="text-danger mt-2">
                            Bill can be Generated only after Engineer, QC & Dispatch Status Completion.
                        </div>
                        <button type="submit" class="btn btn-success" [disabled]="!billAllowed">
                            Generate Bill
                        </button>



                        <!-- <div class="mb-3">
                            <button type="submit" class="btn btn-success">Generate Bill</button>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>

        <!-- <div class="col-1"></div> -->
        <br><br>
        <div class="col-7">
            <div class="row">
                <div class="">
                    <label for="">Download a Bill Excelsheet</label>
                    <br> <button class="btn btn-success" (click)="exportexcel()" title="Download excelfile">Download
                        Excelsheet</button>
                    <br><br>
                    <table class="table" id="excel-table">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Bill Number</th>
                                <th>Client Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let a of AllBill | paginate :{itemsPerPage :10 ,currentPage:pro},let i = index">
                                <td>{{a.Bill_Id}}</td>
                                <td>
                                    <p title="View Bill Details">
                                        <a *ngIf="isAdmin" href=""
                                            [routerLink]="['/AdminDashboard/BillDetails', a.Bill_Id]">{{a.Bill_Number}}</a>
                                        <a *ngIf="isAccountant" href=""
                                            [routerLink]="['/AccountantDashboard/BillDetails', a.Bill_Id]">{{a.Bill_Number}}</a>
                                    </p>
                                </td>

                                <td>{{a.Client_Name}}</td>
                                <td>
                                    <p class="">
                                        <a type="button" (click)="EditBills(a.Bill_Id)" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal1" title="Edit a Bill">
                                            <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                        </a>
                                        <span style="margin-left:15px;cursor: pointer;"><a (click)="Delete(a.Bill_Id)"
                                                title="Delete a Bill">
                                                <i class="fa-solid fa-trash-can"></i></a></span>
                                        <a (click)="printPdf(a.Bill_Id)" title="Print a Receipt"> <span
                                                style="margin-left:15px;cursor: pointer;"><i
                                                    class="fa-solid fa-print"></i></span></a>
                                    </p>
                                </td>

                            </tr>
                        </tbody>
                    </table>

                    <div class="text-center">
                        <pagination-controls (pageChange)=" pro = $event "
                            style="background-color: #252847 !important; z-index: -2 !important;"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Waiting for Approval</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12">
                            <form [formGroup]="Edittbillform" (ngSubmit)="UpdateBills()">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="Purchase_Number">Purchase Order Number</label>
                                            <br>
                                            <select formControlName="Purchase_Number" class="Se">
                                                <option *ngFor="let mat of AllPurchaseOrderData"
                                                    [value]="mat.Purchase_Number">
                                                    {{mat.Purchase_Number}}</option>
                                            </select> <br>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="Product_Name">Product Name </label>
                                            <br>
                                            <select formControlName="Product_Name" class="Se">
                                                <option *ngFor="let mat of AllPurchaseOrderData"
                                                    [value]="mat.Product_Name">
                                                    {{mat.Product_Name}} ({{mat.Requirement_No}})</option>
                                            </select> <br>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Client Name : </label>
                                            <br>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="Client_Name"
                                                placeholder="Enter ClientName">
                                            <!-- <select formControlName="Client_Name" class="">
                                        <option *ngFor="let mat of AllRequirementData" [value]="mat.Client_Name">{{mat.Client_Name}}({{mat.Requirement_No}})</option>
                                    </select>  <br> -->
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Product Quantity :
                                            </label>
                                            <br>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="Product_Quantity"
                                                placeholder="Enter Quantity">

                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Rate : </label>
                                            <br>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="Rate"
                                                placeholder="Enter Rate">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Sub Total : </label>
                                            <br>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="Subtotal"
                                                placeholder="Enter Rate">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">CGST Amount : </label>
                                            <br>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="CGST_amount"
                                                placeholder="Enter CGST Amount">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">SGST Amount : </label>
                                            <br>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="SGST_amount"
                                                placeholder="Enter SGST Amount">
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Total Amount : </label>
                                            <br>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="Total_Amount"
                                                placeholder="Enter total Amount">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Discount Amount :
                                            </label>
                                            <br>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="Discount_Amount"
                                                placeholder="Enter discount Amount">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">

                                            <label for="Payment_term">Payment Term : </label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="Payment_term"
                                                placeholder="Enter Payment term">

                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="HSN_Code">HSN Code : </label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" formControlName="HSN_Code"
                                                placeholder="Enter HSN Code">

                                        </div>
                                    </div>

                                </div>

                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">Client Address : </label>
                                    <input type="text" class="form-control" id="exampleInputEmail1"
                                        aria-describedby="emailHelp" formControlName="Client_Address"
                                        placeholder="Enter Purchase Address ">
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="Payment_Method">Payment Method : </label>
                                            <select class="form-select form-select-sm" formControlName="Payment_Method"
                                                aria-label="select example">
                                                <option value="Cash Payment">Cash Payment </option>
                                                <option value="Credit Card Payment">Credit Card Payment</option>
                                                <option value="Partially Received">Partially Received </option>
                                                <option value="Received">Received </option>
                                                <option value="Invoiced">Invoiced </option>
                                                <option value="Completed">Completed </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="Bill_Status">Bill Status : </label>
                                            <select class="form-select form-select-sm" formControlName="Bill_Status"
                                                aria-label="select example">
                                                <option value="Generate">Generate</option>
                                                <option value="Received">Received </option>
                                                <option value="Invoiced">Invoiced </option>
                                                <option value="Completed">Completed </option>
                                                <option value="Close">Close </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="mb-3">
                                            <label for="Delivery_Date">Delivery Date : </label><br>
                                            <input type="date" formControlName="Delivery_Date">
                                        </div>
                                    </div>

                                </div>
                                <div class="mb-3">
                                    <button type="submit" class="btn btn-success">Update Bill</button>
                                </div>

                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>