<br>
<br>
<br>
<br>
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Super Admin</h5>
                    <p class="card-text">This is your main dashboard where you can find an overview of your application.</p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome to the Dashboard</h5>
                    <p class="card-text">This is your main dashboard where you can find an overview of your application.</p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome to the Dashboard</h5>
                    <p class="card-text">This is your main dashboard where you can find an overview of your application.</p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Welcome to the Dashboard</h5>
                    <p class="card-text">This is your main dashboard where you can find an overview of your application.</p>
                </div>
            </div>
            <br>
            <br>
        </div>
        <br>
        <br>
    </div>
</div>
