label {
    color: white;
}

.form-check {
    margin-left: 5%;
}

.form-check-input {
    width: 5%;
    background-color: aliceblue;
}

/* .form-check-label {
    margin-left: 12px;
} */

.card {
    background-color: #2E3257;
    color: white;
}

.modal-content {
    background-color: #2E3257;
}